<div class="padding char-equipment">
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.head)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.head.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.head.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.hands)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.hands.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.hands.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.neck)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.neck.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.neck.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.waist)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.waist.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.waist.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.shoulder)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.shoulder.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.shoulder.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.legs)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.legs.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.legs.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.back)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.back.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.back.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.feet)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.feet.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.feet.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.chest)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.chest.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.chest.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.finger1)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.finger1.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.finger1.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.shirt)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.shirt.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.shirt.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.finger2)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.finger2.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.finger2.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.tabard)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.tabard.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.tabard.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.trinket1)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.trinket1.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.trinket1.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.wrist)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.wrist.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.wrist.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.trinket2)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.trinket2.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.trinket2.name}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.mainHand)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.mainHand.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.mainHand.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.offHand)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.offHand.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.offHand.name}}</p>-->
    </div>
    <div class="col">
      <div class="wow-item-thumb large" ng-click="openModal(char.items.ranged)">
        <div class="foreground"></div>
        <img ng-src="{{::staticRoot}}/wow/icons/large/{{::char.items.ranged.icon | lowercase}}.jpg">
      </div>
      <!--<p>{{::char.items.ranged.name}}</p>-->
    </div>
  </div>
</div>
