<span ng-switch="{{char.race}}">
  <span ng-switch-when="1">Humain</span>
  <span ng-switch-when="2">Orc</span>
  <span ng-switch-when="3">Nain</span>
  <span ng-switch-when="4">Elfe de la nuit</span>
  <span ng-switch-when="5">Mort-vivant</span>
  <span ng-switch-when="6">Tauren</span>
  <span ng-switch-when="7">Gnome</span>
  <span ng-switch-when="8">Troll</span>

  <span ng-switch-when="10">Elfe de sang</span>
  <span ng-switch-when="11">Draeneï</span>
  <span ng-switch-default>{{char.race}}</span>
</span>
